<!DOCTYPE html>
<html>
<head>
	<title>ISG Prediction</title>
</head>
<body>
<h2>Please enter mind features for prediction:</h2>
	
	<form method= "POST" action="/results">


			<ul >

					<li id="li_1" >
		<label class="description" for="element_1">intellact </label>
		<div>
			<input id="element_1" name="intellact" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_2" >
		<label class="description" for="element_2">sanskar </label>
		<div>
			<input id="element_2" name="sanskar" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		
	

			</ul>

		
		<div>
			<input type=submit value='Predict' name='submit_btn'>
		</div>
	</form>


</body>
</html>
